*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--dark);
    user-select: none;
}

:root{
    --windowColor: #FFFFFF;
    /* --windowColor: #F9F7F7; */
    --light: #DBE2EF;
    --subLight: #3F72AF;
    --dark: #112D4E;
    --hoverBackground: rgba(17,45,78,0.07);
    --highLight: #F5DF4D;

    --phase6: #BA9699;
    --phase7: #C36B76;
    --swapM: #16A1FE;
    --chargeM: #FEAE0A;
    --swapS: #B5CCDD;
    --chargeS: #EAE4D4;

    --tax: #8BAACF;
    --maintain: #658EBF;
    --fuel: #3F72AF;
    --own: #325B8C;

    --bodymake: #D7ACA8;
    --batterymake: #BF7A73;
    --fuelmake: #B05A51;
    --fuelburn: #8C4840;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background: var(--dark);
    border-radius: 4px;
    border: 1.5px solid var(--windowColor);
}

::-webkit-scrollbar-button{
    background-color: transparent;
    display: block;
    height: 6px;
}

#fullwindow{
    background-color: var(--subLight);
    overflow: hidden;
}

.window{
    background-color: var(--windowColor);
    border: solid 3px var(--dark);
    border-radius: 20px;
}

.buttonradius{
    border-radius: 18px;
}

.buttontext{
    font-size: 17px;
    font-weight: 700;
}

h1{
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 8px;
}

h3{
    font-size: 14px;
}

.icon:hover{
	transform: translate(0.5px,0.5px);
	transition: .05s ease;
    cursor: pointer;
}

.icon:active{
	transform: translate(1px,1px);
}


/* button */
.button:hover{
	cursor: pointer;
}

.button:active{
	transform: translate(7px,7px);
	transition: .1s ease;
}

.press{
	transform: translate(6px,6px);
}

.unpress{
	transition: .1s ease;
}



/* nav */
nav{
    position: absolute;
    width: 95vw;
    height: 60px;
    left: 2.5vw;
    top: 3vh;
    box-shadow: 10px 10px var(--dark);

    animation-duration: 2s;
	animation-name: popup1;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-left: 20px;
}

/* icons */
#icons{
    margin-right: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#question, #information{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 3px solid var(--dark);

    display: flex;
    align-items: center;
    justify-content: center;
}
#question text, #information text{
    font-size: 28px;
    font-weight: 700;
}

#question text{
    transform: translateX(0.5px);
}

#reset img{
    transform: translateY(1px);
}



/* article */
article{
    position: absolute;
    width: 65vw;
    height: calc(89vh - 60px);
    left: 2.5vw;
    top: calc(6vh + 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* chartbutton */
#chartbutton{
    height: 50px;

    display: flex;
}

#dotbutton, #barbutton{
    height: 100%;
    width: 140px;

    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#dotbutton{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    animation-duration: 2.5s;
	animation-name: popup2-1;
}

#barbutton{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 1;

    animation-duration: 2.5s;
	animation-name: popup2;
}

/* chartwindow */
#chartwindow{
    height: calc(86vh - 110px);
}

#dotwindow, #barwindow{
    position: absolute;
    width: 100%;
    height: calc(86vh - 110px);
    padding: 10px;
}

#dotwindow{
    animation-duration: 2.5s;
	animation-name: popup2;
}

#barwindow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#spendingchartarea, #emissionchartarea{
    width: 47%;
    height: calc(86vh - 150px);
    margin-left: 20px;
    /* border: 1px solid red; */
}



/* aside */
aside{
    position: absolute;
    width: 27vw;
    height: calc(89vh - 60px);
    right: 2.5vw;
    top: calc(6vh + 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* sidebutton */
#sidebutton{
    height: 50px;
}

#searchbutton{
    position: absolute;
    width: 50%;
    height: 50px;
    left: 0;
    box-shadow: 10px 10px var(--dark);

    animation-duration: 3s;
	animation-name: popup3;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#searchbar{
    width: calc(100% - 60px);
    height: 35px;
    background-color: var(--windowColor);
    border: none;
}

#searchbar:focus{
    outline: none;
}

#searchbar::placeholder{
    color: rgba(0,0,0,0.3);
}

#custombutton{
    position: absolute;
    width: 120px;
    height: 50px;
    right: 0;

    animation-duration: 3s;
	animation-name: popup3;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* sidewindow */
#sidewindow{
    height: calc(86vh - 110px);
}

#dotside, #barside, #searchside, #customside, #informationside{
    position: absolute;
    width: 100%;
    height: calc(86vh - 110px);
    padding: 10px 30px;
    overflow: auto;
}

#dotside{
    animation-duration: 3s;
	animation-name: popup3;
}

.closeicon{
	position: absolute;
	top: 27px;
	right: 27px;
    padding: 3px;
}

/* dotside */
#dotside ul, #barside ul{
    list-style: none;
}

#dotside li, #barside li{
    padding: 8px 5px;

    display: flex;
    align-items: center;
    gap: 10px;
}

#dotside li:hover, #barside li:hover{
    background-color: var(--hoverBackground);
    border-radius: 9px;
}

.legenddot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#phasesixdot{
    background-color: var(--phase6);
}
#phasesevendot{
    background-color: var(--phase7);
}
#swappingescooterdot{
    background-color: var(--swapM);
}
#chargingescooterdot{
    background-color: var(--chargeM);
}
#lwswappingescooterdot{
    background-color: var(--swapS);
}
#lwchargingescooterdot{
    background-color: var(--chargeS);
}

/* barside */
#taxdot{
    background-color: var(--tax);
}
#maintaindot{
    background-color: var(--maintain);
}
#fueldot{
    background-color: var(--fuel);
}
#owndot{
    background-color: var(--own);
}
#bodymakedot{
    background-color: var(--bodymake);
}
#batterymakedot{
    background-color: var(--batterymake);
}
#fuelmakedot{
    background-color: var(--fuelmake);
}
#fuelburndot{
    background-color: var(--fuelburn);
}

/* searchside */
.motorlist{
    margin: 5px 0;
    padding: 5px 15px 5px 10px;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

h4{
    font-size: 0.7em;

    display: flex;
    align-items: baseline;
    gap: 5px;
}

.smalllegenddot{
    width: 16px;
    height: 9px;
    border-radius: 4.5px;
}

.motorlist:hover{
	/* box-shadow: inset 0px 0px 0px 2px var(--dark); */
    background-color: var(--hoverBackground);
}

.motorlist:hover .checkcircle{
	opacity: 1;
}

.checkcircle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1.5px solid var(--dark);
    box-shadow: inset 0px 0px 0px 4px var(--windowColor);
	opacity: 0;
}

input[type=checkbox]{
	display: none;
}

input[type=checkbox]:checked + .checkcircle{
	background-color: var(--dark);
	opacity: 1;
}

.selectedlist{
    padding: 5px 6px 7px;

    display: flex;
    align-items: center;
    gap: 12px;
}

/* customside */
.slidecontainer{
	width: 100%;
	margin: 20px 0 30px;
}

.textcontainer{
	margin-left: 3px;
	width: calc(100% - 3px);
    
    display: flex;
    justify-content: space-between;
}

.slidecontainer span{
    margin-right: 10px;
}

.slider{
	float: right;
	-webkit-appearance: none;
	width: 60%;
	height: 4px;
	border-radius: 2px;
	background: rgba(0,0,0,0.15);
	outline: none;
	transform: translate(0,50%);
}

.slider:hover{
	background: rgba(0,0,0,0.2);
    cursor: pointer;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--dark);
	cursor: pointer;
}

.slider::-moz-slider-thumb{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: var(--dark);
	cursor: pointer;
}

select{
	float: right;
	font-size: 12px;
	height: 27px;
	width: 50%;
	background-color: var(--windowColor);
	border: 1.8px solid var(--dark);
	border-radius: 9px;
	/* transform: translate(0,-2px); */
}

select:focus{
    outline: none;
}

.slidecontainer ul{
    list-style: none;
    margin-left: 10px;
}

.slidecontainer li{
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
}

/* informationside */
#informationside, #informationside a{
    font-size: 12px;
}

.mailicon{
    font-size: 0.8em;
    font-weight: 300;
    text-decoration: none;
}

.mailtext{
    user-select: all;
}

#tourtext{
    text-decoration: underline;
    cursor: pointer;
}


/* other */
.displaynone{
    display: none !important;
}

.nametag{
	position: absolute;
	padding: 12px;
	background-color: var(--windowColor);
	border: 1.5px solid var(--dark);
	border-radius: 20px;
	z-index: 9999;
}

sub{
    font-size: initial;
}

.shadow{
    position: absolute;
    background-color: var(--dark);
    transform: translate(10px, 10px);
    z-index: -1;
}

#chartbuttonshadow{
    height: 50px;
    width: 280px;
    top: 0;
    left: 0;
}
#chartwindowshadow, #sidewindowshadow{
    width: 100%;
    height: calc(86vh - 110px);
}
#custombuttonshadow{
    width: 120px;
    height: 50px;
    right: 0;
}

#fullbackground{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 0;
}


/* animation */
#preloadanimation{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--subLight);
	opacity: 0;
	z-index: 9999;

	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-name: preloadscreen;
}

@keyframes preloadscreen{
	0%{
		opacity: 1;
	}
	30%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes popup1{
	0%{
		transform: translate(10px,10px);
		box-shadow: 0px 0px var(--dark);
	}
	100%{
		transform: translate(0px,0px);
		box-shadow: 10px 10px var(--dark);
	}
}

@keyframes popup2{
	0%{
		transform: translate(10px,10px);
		box-shadow: 0px 0px var(--dark);
	}
	20%{
		transform: translate(10px,10px);
		box-shadow: 0px 0px var(--dark);
	}
	100%{
		transform: translate(0px,0px);
		box-shadow: 10px 10px var(--dark);
	}
}

@keyframes popup2-1{
	0%{
		transform: translate(10px,10px);
		box-shadow: 0px 0px var(--dark);
	}
	20%{
		transform: translate(10px,10px);
		box-shadow: 0px 0px var(--dark);
	}
	100%{
		transform: translate(6px,6px);
		box-shadow: 4px 4px var(--dark);
	}
}


@keyframes popup3{
	0%{
		transform: translate(10px,10px);
		box-shadow: 0px 0px var(--dark);
	}
	33.3%{
		transform: translate(10px,10px);
		box-shadow: 0px 0px var(--dark);
	}
	100%{
		transform: translate(0px,0px);
		box-shadow: 10px 10px var(--dark);
	}
}

/* tour */
.tour-box{
    position: absolute;
    width: 30vw;
    height: 30vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: var(--windowColor);
    border: 3px solid var(--dark);
    border-radius: 15px;
    box-shadow: 3px 3px var(--dark);
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: end;
}

.tour-head{
    width: 100%;
    height: 32px;
    padding: 0 8% 0;
    font-size: 1.4em;
    font-weight: 700;

    /* background-color: #16A1FE; */
}

.tour-text{
    width: 100%;
    height: calc(100% - 95px);
    padding: 1% 8% 0;
    overflow: auto;

    /* background-color: #16A1FE; */
}

.tour-button{
    width: 100%;
    height: 36px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#tour-last{
    flex-direction: row !important;
}

.tour-next, .tour-prev{
    width: 20%;
    height: 65%;
    font-size: 1.1em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-position{
	position: absolute;
	border: 6px solid var(--highLight);
	z-index: 1000;
}

#tourdotchart{
    width: 140px;
    height: 50px;
    border-radius: 18px 0 0 18px;
}

#tourtarget{
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    transform: translate(-13px, -13px);
    border-radius: 20px;
}

#tourcustom, #toursearch{
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 18px;
}

#tourbarchart{
    width: 140px;
    height: 50px;
    border-radius: 0 18px 18px 0;
}

#tourinfo, #tourreset{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#tourreset{
    transform: translate(-8px, -89%);
}

/* RWD */
/* bigbig screen */
@media all and (min-height: 800px){
    nav{
        top: calc(800px * 0.03);
    }

    article{
        height: calc(800px * 0.89 - 60px);
        top: calc(800px * 0.06 + 60px);
    }

    aside{
        height: calc(800px * 0.89 - 60px);
        top: calc(800px * 0.06 + 60px);
    }

    #chartwindow, #dotwindow, #barwindow, #sidewindow, #dotside, #barside, #searchside, #customside, #informationside, #chartwindowshadow, #sidewindowshadow{
        height: calc(800px * 0.86 - 110px);
    }

    #spendingchartarea, #emissionchartarea{
        height: calc(800px * 0.86 - 150px);
    }
}

@media all and (min-width: 1400px){
    body{
        width: 1400px;
        margin: auto;
    }

    nav{
        width: calc(1400px * 0.95);
        left: calc((100vw - 1400px * 0.95) / 2);
    }

    article{
        width: calc(1400px * 0.65);
        left: calc((100vw - 1400px * 0.95) / 2);
    }

    aside{
        width: calc(1400px * 0.27);
        right: calc((100vw - 1400px * 0.95) / 2);
    }

    @media all and (min-height: 800px){
        nav{
            top: calc(800px * 0.03);
        }

        article{
            height: calc(800px * 0.89 - 60px);
            top: calc(800px * 0.06 + 60px);
        }

        aside{
            height: calc(800px * 0.89 - 60px);
            top: calc(800px * 0.06 + 60px);
        }

        #chartwindow, #dotwindow, #barwindow, #sidewindow, #dotside, #barside, #searchside, #customside, #informationside, #chartwindowshadow, #sidewindowshadow{
            height: calc(800px * 0.86 - 110px);
        }

        #spendingchartarea, #emissionchartarea{
            height: calc(800px * 0.86 - 150px);
        }
    }
}

@media all and (max-width: 1000px){
    #fullwindow{
        overflow: auto;
    }

    article{
        width: 95vw;

    }

    aside{
        width: 95vw;
        height: 94vh;
        top: calc(100vh + 10px);
    }

    aside::after{
        content: "";
        width: 50vw;
        height: 3vh;
        transform: translateY(3vh);
        /* background-color: #B5CCDD; */
    }

    #sidewindow, #dotside, #barside, #searchside, #customside, #informationside, #sidewindowshadow{
        height: calc(88vh - 50px);
        margin-top: 2.5vh;
    }

    .tour-box{
        width: 300px;
    }

    .tour-text{
        font-size: 12px;
    }
    @media all and (min-height: 800px){
        nav{
            top: calc(800px * 0.03);
        }

        article{
            height: calc(800px * 0.89 - 60px);
            top: calc(800px * 0.06 + 60px);
        }

        aside{
            height: calc(800px * 0.89 - 60px);
            top: 800px;
        }

        #chartwindow, #dotwindow, #barwindow, #sidewindow, #dotside, #barside, #searchside, #customside, #informationside, #chartwindowshadow, #sidewindowshadow{
        height: calc(800px * 0.86 - 110px);
        }

        #spendingchartarea, #emissionchartarea{
            height: calc(800px * 0.86 - 150px);
        }
    }
}

@media all and (max-width: 840px){
    #title{
        font-size: 20px;
    }

    #question, #information{
        width: 25px;
        height: 25px;
    }

    #question text, #information text{
        font-size: 20px;
        border-width: 2px;
    }

    #reset{
        transform: scale(0.8);
    }
}

